* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Color palette */
:root{
    --main-color: #214AB2;
    --secondary-color: #2160B2;
    --light-color: #F2F2F2;
    --gray-color: #9d9ea0;
    --dark-gray: #161616;
    --border-color: #333435;
    --border-hover: #4d4f50;
    --dark-color: #121212;
}

html, body {
    background-color: var(--dark-color); /* Set a fallback color for the page background */
    scroll-behavior: smooth; /* Enable smooth scrolling */
}





/* General styling for the toggle button */
.toggle-menu {
    position: fixed; /* Position it absolutely within the hero section */
    top: 2rem; /* Distance from the top */
    right: 2rem; /* Distance from the right */
    background-color: transparent; /* Make the background transparent */
    border: none; /* Remove border */
    cursor: pointer; /* Change cursor to pointer */
    z-index: 1110; /* Ensure it is above other content */
    width: 60px; /* Set width for circle */
    height: 60px; /* Set height for circle */
    border-radius: 50%; /* Create circle */
    background-color: var(--main-color); /* Circle background color */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

/* Icon styles */
.toggle-menu span,
.toggle-menu span:before {
    background-color: var(--light-color);
    content: "";
    display: block;
    height: 2px;
    width: 26px;
    position: absolute;
    transition: transform 0.3s ease-in-out;
}

.toggle-menu span {
    left: calc(50% - 13px);
    top: calc(50% - 1px);
}

.toggle-menu span:before {
    top: 0;
    transform: rotate(90deg);
}

/* Active menu icon */
.toggle-menu.active span {
    transform: rotate(45deg);
}

.toggle-menu.active span:before {
    transform: rotate(-90deg);
}

/* Navigation Links */
.nav-links {
    position: fixed;
    top: 0;
    right: -500px;
    width: 500px;
    height: 100vh;
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space between ul and footer */
    align-items: flex-start; /* Align to the left */
    padding: 20px; /* Add some padding for better look */
    transition: right 0.6s ease;
    z-index: 9;
}

/* Show navigation */
.nav-open {
    right: 0;
}

/* Centering the ul */
.nav-links ul {
    list-style-type: none; /* Remove default bullet points */
    margin: 0;
    padding: 0;
    flex-grow: 1; /* Allows the ul to take up the remaining space and center itself */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the items vertically */
    line-height: 32px;
}

/* Align the nav links text */
.nav-links li {
    margin-bottom: 15px; /* Vertical spacing between each link */
    text-align: left;
}

/* Link styles */
.nav-links a {
    font-size: 3rem; /* Font size for links */
    font-weight: 500;
    color: var(--dark-color); /* Text color */
    text-decoration: none; /* Remove underline */
    transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition for hover effect */
}

/* Hover effect */
.nav-links a:hover {
    color: var(--main-color); /* Change color on hover */
}

/* Footer should stay at the bottom */
.nav-links footer {
    align-self: flex-start; /* Align footer links to the left */
    margin-bottom: 20px; /* Adds a little space between footer and bottom of nav-links */
}

/* Footer hover effect */
.nav-links footer a {
    font-size: 1rem; /* Adjust font size for footer links */
    padding-right: 15px;
    color: var(--dark-color);
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition for hover effect */
}

.nav-links footer a:hover {
    color: var(--secondary-color);
}

.social-title {
    font-size: 0.9rem; /* Font size for titles */
    font-weight: 400;
    color: var(--gray-color); /* Text color */
    margin-bottom: 4px; /* Space below title */
}





/* Overlay */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark semi-transparent background */
    opacity: 0; /* Initially hidden */
    pointer-events: none; /* Prevent interaction with overlay */
    transition: opacity 0.3s ease;
    z-index: 8; /* Below the menu but above the background */
}

#overlay.active {
    opacity: 1; /* Make overlay visible when menu is open */
    pointer-events: all; /* Allow clicking the overlay to close the menu */
}





/*---------------------WORK---------------------*/
.work-details {
    background-color: var(--dark-gray);
    width: 100%;                  /* Ensure it spans the full width */
    display: flex;
    justify-content: center;       /* Center the details container */
    padding: 5rem 2rem;
}

.details-container {
    width: 100%;                   /* Full width for content */
    max-width: 1300px;              /* Limit max width for better layout */
    color: var(--light-color);
}

h1.work-title {
    font-family: "Questrial", sans-serif;
    font-size: 7rem;
    font-weight: 900;
    letter-spacing: 0.1em;
    text-align: left; /* Align the section title to the left */
    margin: 5rem 0;
}

.work-content {
    display: flex;                 /* Flexbox for horizontal layout */
    flex-direction: row;           /* Align items in a row */
    justify-content: space-between;/* Evenly space between items */
    gap: 40px;                     /* Add space between sections */
}

.work-content h4 {
    font-family: "Questrial", sans-serif;
    color: var(--gray-color);
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 0.1em;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(50px); /* Start 50px below */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* End at the original position */
    }
}

/* Work title animation */
.work-title {
    opacity: 0;
    transform: translateY(50px); /* Initially hidden and below */
    animation: slideUp 1s ease-out forwards; /* Animate the title */
}

/* Work content animation with delay */
.work-content {
    opacity: 0;
    transform: translateY(50px); /* Initially hidden and below */
    animation: slideUp 1s ease-out forwards;
    animation-delay: 0.5s; /* Delay the appearance of the content */
}

.separator {
    border: none;
    height: 0.5px;
    background-color: var(--gray-color); /* Style for the separator */
    margin: 20px 0; /* Add some space around */
}

.role-services, .tools, .year {
    flex: 1; /* Make each section equal width */
}


.item {
    margin: 5px 0; /* Space between each item */
}

.image-container {
    width: 100%; /* Full width of the parent */
    margin-bottom: 0; /* No margin between containers */
    overflow: hidden; /* Hide overflow to prevent cutting off */
    display: flex; /* Use flexbox for horizontal alignment */
    justify-content: center; /* Center the images */
}

/* Full-width image styles */
.full-width {
    width: 100%; /* Full width for the first and last images */
    height: auto; /* Keep aspect ratio */
}

/* Half-width image styles */
.half-width {
    width: 50%; /* Half width for the second and third images */
    height: auto; /* Keep aspect ratio */
}

/* Slide-up animation for images */
.image-container {
    opacity: 0;
    transform: translateY(50px); /* Initially hidden and below */
    animation: slideUp 1s ease-out forwards;
    animation-delay: 1s; /* Delay the appearance of images */
}

/* Add staggered delay for each image-container */
.image-container:nth-of-type(1) {
    animation-delay: 1s; /* First image */
}

.image-container:nth-of-type(2) {
    animation-delay: 1.5s; /* Second image */
}

.image-container:nth-of-type(3) {
    animation-delay: 2s; /* Third image */
}

/* Work description */
.work-description {
    width: 100%;                  /* Ensure it spans the full width */
    display: flex;
    justify-content: center;       /* Center the details container */
    padding: 10rem 2rem;
}

.work-description p {
    width: 100%;                   /* Full width for content */
    max-width: 1000px;              /* Limit max width for better layout */
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    color: var(--light-color);
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(50px); /* Start 50px below */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* End at the original position */
    }
}

.work-description {
    opacity: 0;
    transform: translateY(50px); /* Initially hidden and below */
    animation: slideUp 1s ease-out forwards;
    animation-delay: 1.5s; /* Delay the appearance of the content */
}





/*---------------------FOOTER---------------------*/
#contacts {
    color: var(--light-color);
}

.footer-container {
    max-width: 1300px; /* Set your desired max-width */
    margin: 0 auto; /* Center the content horizontally */
    padding: 0 2rem; /* Optional padding for smaller screens */
}

.footer-title {
    font-family: "Questrial", sans-serif;
    font-size: 7rem;
    font-weight: 900;
    letter-spacing: 0.1em;
    text-align: left; /* Align the section title to the left */
    margin: 8rem 0;
    opacity: 0; /* Start with hidden opacity */
    transform: translateY(30px); /* Start slightly below */
    filter: blur(10px); /* Start with blur */
    transition: opacity 0.8s ease, transform 0.8s ease, filter 0.8s ease; /* Smooth transition */
}

/* Add animation when the section is scrolled into view */
.contact-visible .footer-title {
    animation: fadeInUpWithBlur 1s ease forwards; /* Apply the fade-in with blur effect */
}

/* Fade-in with upward slide and blur animation */
@keyframes fadeInUpWithBlur {
    0% {
        opacity: 0;
        transform: translateY(30px); /* Start slightly below */
        filter: blur(10px); /* Start with blur */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* End at the original position */
        filter: blur(0); /* Remove blur */
    }
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Add animation when the section is scrolled into view */
.contact-visible .footer-content {
    animation: fadeInUp 1.2s ease forwards; /* Apply the fade-in with blur effect */
}

/* Fade-in with upward slide animation */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px); /* Start slightly below */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* End at the original position */
    }
}

/* Initial state of the about section elements */
.footer-content {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}


.contact-details p {
    font-size: 22px; /* Adjust this value to your preferred font size */
    font-weight: 300;
    margin: 0;
}

.social-media a {
    font-size: 32px;
    margin-right: 20px;
    color: var(--light-color);
    transition: color 0.3s;
}

.social-media a:hover {
    color: var(--secondary-color);
}

.footer-separator {
    margin: 50px 0;
    border: none;
    height: 0.5px;
    background-color: var(--border-color);
}

.footer-credit {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    color: var(--gray-color);
    margin-bottom: 120px;
}





/*---------------------1024---------------------*/

@media (max-width: 1024px) {

    .footer-credit {
        margin-bottom: 200px;
    }
}

/*---------------------912---------------------*/

@media (max-width: 912px) {
    /* Footer */
    .footer-title {
        font-size: 7rem; /* Reduce font size for the title */
    }

    .footer-credit {
        margin-bottom: 200px;
    }
}





/*---------------------820---------------------*/

@media (max-width: 820px) {

    /* Navigation Links */
    .nav-links {
        right: -400px;
        width: 400px;
    }

    /* Show navigation */
    .nav-open {
        right: 0;
    }

    /* Footer */
    .footer-title {
        margin: 9rem 0;
        font-size: 6rem; /* Reduce font size for the title */
    }
}





/*---------------------768---------------------*/

@media (max-width: 768px) {

    /* Navigation Links */
    .nav-links {
        right: -320px;
        width: 320px;
    }

    /* Show navigation */
    .nav-open {
        right: 0;
    }

    /* Work description */
    .work-description {
        padding: 5rem 2rem;
    }

    .work-description p {
        font-size: 22px;
        font-weight: 300;
    }

    /* Footer section */
    .footer-title {
        margin: 6rem 0;
        font-size: 5rem; /* Reduce font size for the title */
    }

    .contact-details p {
        font-size: 20px;
    }
}





/*---------------------540---------------------*/

@media (max-width: 540px) {

    .toggle-menu {
        top: 1rem; /* Distance from the top */
        right: 1rem; /* Distance from the right */
        width: 50px; /* Set width for circle */
        height: 50px; /* Set height for circle */
    }
    
    /* Show toggle menu icon */
    .toggle-menu.visible {
        transform: translateY(0); /* Slide down to original position */
        opacity: 1; /* Fade in */
    }

    /* Navigation Links */
    .nav-links {
        right: -270px;
        width: 270px;
    }

    /* Show navigation */
    .nav-open {
        right: 0;
    }

    /* Align the nav links text */
    .nav-links li {
        margin-bottom: 10px; /* Vertical spacing between each link */
    }

    /* Link styles */
    .nav-links a {
        font-size: 2rem; /* Font size for links */
        font-weight: 500;
    }

    .work-details {
        padding: 5rem 1rem;
    }
    
    /* Work */
    h1.work-title {
        font-size: 4rem;
        margin: 4rem 0;
    }

    .work-content {
        flex-direction: column; /* Stack elements vertically */
        align-items: flex-start; /* Align items to the start */
        gap: 40px;      
    }

    .role-services, .tools, .year {
        width: 100%; /* Make each section take full width */
    }

    /* Image */
    .image-container {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center align images */
    }
    
    .half-width {
        width: 100%; /* Full width on smaller screens */
        max-width: 100%; /* Prevent overflow */
    }

    /* Work description */
    .work-description {
        padding: 5rem 1rem;
    }

    .work-description p {
        text-align: left;
        font-size: 20px;
        font-weight: 300;
    }

    /* Footer */
    .footer-container {
        padding: 0 1rem; /* Optional padding for smaller screens */
    }

    .footer-title {
        margin: 5rem 0;
        font-size: 4rem; /* Reduce font size for the title */
    }

    .footer-content {
        flex-direction: column; /* Stack contact and social media sections vertically */
        align-items: flex-start; /* Align items to the left */
        text-align: left; /* Left-align the text */
    }

    .contact-details p {
        font-size: 20px;
        margin-bottom: 0.7rem; /* Add space between contact details */
    }

    .footer-credit {
        margin-bottom: 110px;
    }
}